# =========================
# 1. Datos locales (no subir)
# =========================
config/
sourcedata/
bids/
derivatives/

# =========================
# 2. Formatos EEG (BrainVision y similares)
# =========================
*.eeg
*.vhdr
*.vmrk
*.ehst2
*.hfinf2

# =========================
# 3. Archivos pesados/resultados
# =========================
*.mat
*.h5
*.bson
*.tmp
*.bak
*.log

# =========================
# 4. Archivos de sistema/editores
# =========================
.DS_Store
.vscode/
.idea/